<app-sidebar></app-sidebar>
<div class="content">

        <div *ngFor="let e of exercises, let i=index" class ="d-flex justify-content-center">
            <button (click)="get1RM(e.name, i)">{{e.name}}</button>
            <div *ngIf="hidden[i]">
                Twoj przewidywany ciezar maksymalny {{rm | number: '2.0-1'}}
                <div class="divChart">
                    <canvas width="600" height="400" #canvas id="canvas" style="background-color: white;"></canvas>
                </div>
            </div>
        </div>
</div>