.content{
    background-color: #484848;
    width: 100%;
    height: 100%;
   }

   .register-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }

  .register-box h1{
    float: left;
    font-size: 40px;
    color: #101010;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
  }

  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
  }

  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }

  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }

  .textbox select{
    background: #484848;
    color: white;
    width: 100%;
    font-size: 18px;
  }

  .btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }

  ::placeholder{
      color: white;
  }

