<div class='content'>
    <form>
        <div class="register-box">
            <h1>Register</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input name="nameInput" [(ngModel)]='emailInput' placeholder="email" type="text">
            </div>

            <div class="textbox">
                <i class="fas fa-user"></i>
                <input name="firstNameInput" [(ngModel)]='firstNameInput' placeholder="Imie" type="text">
            </div>

            <div class="textbox">
                <i class="fas fa-user"></i>
                <input name="lastNameInput" [(ngModel)]='lastNameInput' placeholder="Nazwisko" type="text">
            </div>

            <div class="textbox">
                <i class="fas fa-user"></i>
                <select class="align-self-center" name="genderInput" [(ngModel)]="genderInput">
                    <option value="" hidden>Plec</option>
                    <option value="Male">Mezczyzna</option>
                    <option value="Female">Kobieta</option>
                    <option value="Other">Inne</option>
                </select>
            </div>

            <div class="textbox">
                <i class="fas fa-user"></i>
                <input name="passwordInput" [(ngModel)]='passwordInput' placeholder="Haslo" type="password">
            </div>
            <button class="btn" (click)="registerUser()">register</button>
        </div>
    </form>

</div>