.content{
 background-color: #484848;
 width: 100%;
 height: 100%;
}

.register{
    font: italic bold;
    color: green;
}

.btn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }
::placeholder{
      color: white;
  }

