.sidebar {
    width: 180px;
    background: #383838;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;


   ul {
       list-style-type: none;
       padding-left: 0;
   }

    li {
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        color: white;
        padding: 10px;
        border-bottom: 1px solid white;
    }

    li.hover {
        background: blue;
        transition: linear 300ms;
    }

    li.active{
        background: cyan;
    }
}