<div class="sidebar">
    <nav>
        <ul>
            <li *ngIf="!logged" [routerLink]="['/login']">login</li>
            <li *ngIf="!logged" [routerLink]="['/register']">zarejestruj</li>
            <li  type="button" (click)="logout()" *ngIf="logged" [routerLink]="['/home']">wyloguj</li>
            <li [routerLink]="['/calendar']">dodaj trening</li>
            <li [routerLink]="['/suggestions']">sugestie</li>
            <li [routerLink]="['/progress']">progres</li>
            <li [routerLink]="['/statistics']">podsumowanie</li>
        </ul>
    </nav>
</div>
