<app-sidebar></app-sidebar>
<div class="content">

    <div class="mid">
        <p>PODPOWIEDZI: </p>
        <mat-list class="listOf">
            <div class="podpowiedzi">
                <li *ngFor="let e of allUserExercises">
                    {{e.name}}
                    <div *ngFor="let t of e.tags">
                        {{t.name}}
                    </div>
                </li>
            </div>
        </mat-list>
    </div>

    <div>
        <button class="btn" (click)="dodaj()">Nowy Trening!</button>
        <div *ngIf="add">
            <form [formGroup]="nowyFormularz">
                <input formControlName="name" type="text" placeholder="Nazwa Treningu">
                <div formArrayName="exercises">
                    <div *ngFor="let exercise of budowaCwiczen().controls; let empIndex=index">
                        <div [formGroupName]="empIndex">
                            <input type="text" formControlName="name" placeholder="Nazwa Cwiczenia">
                            <button class="btn" (click)="usunCwiczenie(empIndex)">Remove</button>
                            <div formArrayName="sets">
                                <div *ngFor="let skill of CwiczenieSerie(empIndex).controls; let skillIndex=index">
                                    <div [formGroupName]="skillIndex">
                                        <input type="text" formControlName="repActual" placeholder="ilosc powtorzen">
                                        <input type="text" formControlName="weight" placeholder="ciezar">
                                        <button class="btn" (click)="usunSerie(empIndex,skillIndex)">Remove</button>
                                    </div>
                                </div>
                                <button class="btn" type="button" (click)="dodajSerie(empIndex)">Add Serie</button>
                            </div>
                        </div>
                    </div>
                    <button class="btn" type="button" (click)="dodajCwiczenie()">Dodaj ćwiczenie</button>
                </div>
            </form>

            <button class="btn" (click)="pobierz()">Dodaj Trening!</button>
        </div>
    </div>


    <br>
    <div class="float-md-center">
        <b>Twoje Treningi: </b>
        <mat-list *ngFor="let training of trainings;let index = index" class="header">
            <button (click)="showSubItem(index)">{{training.name}}</button>
            <button class="btn" (click)='getOneTraning(index)'>Modyfikuj</button>
            <button class="btn" (click)="deleteTraining(index)">Usun</button>
            <div *ngIf="hidden[index]" class="subheader">
                <div *ngFor="let exercise of training.exercises">
                    {{exercise.name}}

                    <div *ngFor="let set of exercise.sets, let i = index">
                        <label>Seria numer {{i+1}}</label>
                        <div>
                            <label>Liczba Powtorzen</label>
                            <input type="text" placeholder="{{set.repActual}}">
                            <label>Waga</label>
                            <input type="text" placeholder="{{set.weight}}">
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </mat-list>
    </div>



    <div *ngIf="editboo">
        <form [formGroup]="nowyFormularz">
            <input formControlName="name" type="text" placeholder="Trening">
            <div formArrayName="exercises">
                <div *ngFor="let exercise of budowaCwiczen().controls; let empIndex=index">
                    <div [formGroupName]="empIndex">
                        <input type="text" formControlName="name">
                        <button class="btn" (click)="usunCwiczenie(empIndex)">Remove</button>
                        <div formArrayName="sets">
                            <div *ngFor="let skill of CwiczenieSerie(empIndex).controls; let skillIndex=index">
                                <div [formGroupName]="skillIndex">
                                    <input type="text" formControlName="repActual">
                                    <input type="text" formControlName="weight">
                                    <button class="btn" (click)="usunSerie(empIndex,skillIndex)">Remove</button>
                                </div>

                            </div>
                            <button class="btn" type="button" (click)="dodajSerie(empIndex)">Add Serie</button>
                        </div>
                    </div>
                </div>
                <button class="btn" type="button" (click)="dodajCwiczenie()">Dodaj ćwiczenie</button>
            </div>
            <button class="btn" (click)="edit()">EDYTUJ</button>
        </form>
    </div>
</div>