.form-control{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.listOfTrainings{
    display: flex;
    align-items: center;
    float: right;
}

.mid{
    float: right;
}

.listOf{
    height: 300px;
    width: 300px;
    overflow: auto;
}

.content{
    margin: 0 0 0 180px;
    height: 100%;
    color: white;
    background-color: #484848;
}

.btn{
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
}