<form>

    <div class="login-box">
        <h1>LOGIN</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input name="nameInput" [(ngModel)]='nameInput' placeholder="email" type="text">
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input name="passwordInput" [(ngModel)]='passwordInput' placeholder="password" type="placeholder">
        </div>
        <button class="btn" (click)="loginUser()">LOGIN</button>
        <div class="d-flex justify-content-center">OR</div>
        <button class="btn" [routerLink]='["/register"]' routerLinkActive="active">REGISTER</button>
    </div>
</form>
