<app-sidebar ></app-sidebar>
<div class="content">


<h1 style="color: black;">Szukaj po tagach</h1>
<ng-multiselect-dropdown
  [placeholder]="'tagi'"
  [settings]="dropdownSettings"
  [data]="tags"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
></ng-multiselect-dropdown>

<button class="btn" (click)="search()">Search</button>

<div class="exerciseList">
    <tr *ngFor="let execise of exercises">
        <td>{{execise.name}}</td>
    </tr>
</div>

<div>
  <h2 style="color: black;">Wygeneruj Trening:</h2>
    <div *ngFor= "let tag of tags,let index=index">
      <mat-checkbox [checked]=false (change)="getTag($event.checked,tag)" >{{tag.name}}</mat-checkbox>
    </div>
  <button class="btn" (click)="generateTraining()">Wygeneruj</button>
  <div *ngIf="hidden">
    <div *ngFor="let e of defaultExercises">
        {{e.name}}
    </div>
  </div>
</div>



</div>