.content{
    margin: 0 0 0 180px;
    height: 100%;
    color: white;
    background-color: #484848;
}

.btn{
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 12px 0;
}

.date_container {        
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.divChart{
    position: absolute;
    left: 70%;
    top: 20%;
    width: 400px;
    height: 400px;
    color: black;
    font: bold;
}

.mid{
    position: absolute;
    padding: 10px;
    left: 40%;
    top: 0;
    color: white;
}

.usersExercises{
    font-size: large;
}

.listOf{
    position: absolute;
    padding: 10px;
    height: 300px;
    width: 300px;
    overflow: auto;
    display: flex;
    left: 50%;
}
