<app-sidebar></app-sidebar>

<div class="content">

    <button class="btn float-md-right" (click)="generatePDF()">Generuj PDF</button>
    <div class="mid">
        <h2 style="color: black;">Twoje Cwiczenia:</h2>
        <mat-list class="d-flex align-items-center">
            <div class="userExercises">
                <li *ngFor="let e of tmp">
                    {{e.name}} MAX: {{e. rm | number: '2.0-1'}} kg
                </li>
            </div>
        </mat-list>
    </div>

    <div class="float-md-left">
        <h2 style="color: black;">Twoje wymiary:</h2>
        Wybierz okres:
        <br>
        OD:
           <input [(ngModel)]="begin" type="date">
        DO: 
            <input [(ngModel)]="end" type="date">
        <div>
            <button class="btn" (click) ="searchForSizes()" >Zatwierdz</button>
        </div>
        <div *ngFor="let e of userSizes">
            <div translate>{{e.bodyParts}}</div>
            <input type="text" placeholder="{{e.size}}" #sizeValue>
            <button class="btn" (click)="save(e.bodyParts, sizeValue.value )">Zapisz</button>
             zmiana: {{e.diff}} cm
        </div>
    </div>
    <br>
    <br>
    <div class="align-bottom divChart float-md-right">
        <canvas width="300" height="300" #canvas id="canvas"></canvas>
    </div>




</div>